body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.anime-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    flex: 1 1 calc(33.333% - 30px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.anime-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
}

.anime-item h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.anime-item p {
    font-size: 1rem;
    margin-bottom: 10px;
}

#anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
